body,html{
  overflow-x:hidden;
}
#title {
  position: fixed;
  z-index:1;
  width: 100%;
}
.nav-item {
  font-weight: bold;
}
.navbar-brand {
  font-weight: bold;
}
/* top-section */
.top-img {
  width: 60%;
  border-radius: 50%;
}
#top {
  text-align: center;
  background: #7ceb7c;
  color: #fff;
  padding: 7% 15%;
}
h1,
h2,
h3 {
  padding: 2%;
}
/* portfolio-section */
#portfolio img {
  width: 100%;
  padding: 7%;
  border-radius: 10%;
}
#portfolio {
  text-align: center;
}
/* about-section */
#about {
  text-align: center;
  background: #7ceb7c;
  color: #fff;
  padding: 7% 15%;
}
#about p {
  font-size: 1.5rem;
  line-height: 1.5;
}
#contact {
  text-align: center;
  padding-bottom: 5%;
}
.contact-form {
  border-bottom: 1px solid #e9ecef;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  box-shadow: #fff;
  /* padding: 1% 10%; */
  margin: 20px;
}
.btn{
  margin-left: -90px;
}
#footer {
  background: #2c3e50;
  text-align: center;
  padding: 7% 9%;
  color: #fff;
}
#footer p {
  line-height: 1.5;
  font-size: 1.5rem;
}
.icon {
  margin: 10px;
  cursor: pointer;
  Width:30%;
}
#last {
  text-align: center;
  background: #1a252f;
  color: #fff;
  padding: 2% 10%;
  display: none;
}

@media (max-width: 1000px) {
  .navbar {
    /* position: fixed; */
    width: 100%;
  }
  #top {
    width: 100%;
    padding: 20% 15%;
  }
}
